<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Linux Laboratory 63</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}" media="screen">
  </head>
  <body>

    <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container">
        <a href="/" class="navbar-brand">LinuxLab63</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <!--
            <li class="nav-item">
              <a class="nav-link" href="/course">ข้อมูลรายวิชา</a>
            </li>
            -->
            <li class="nav-item">
              <a class="nav-link" href="/aj">อาจารย์</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students">นักศึกษา</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/studentspagination">นักศึกษา(page)</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">ช่องทางการติดต่อ <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="download">
                <a class="dropdown-item" target="_blank" href="https://jsfiddle.net/bootswatch/gbuemo39/">Facebook</a>
                <div class="dropdown-divider"></div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="../4/sketchy/_variables.scss" download>Twitter</a>
                <a class="dropdown-item" href="../4/sketchy/_bootswatch.scss" download>IG</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
          </ul>
          {% if user.is_authenticated %}
            Welcome {{ user }} 
            <a class="nav-link" href="/logout">Logout</a>
          {% else %}
            <a class="nav-link" href="/login">Login</a>
          {% endif %}
        </div>
      </div>
    </div>


    <div class="container">

      {% block content %}

      {% endblock %}


    <footer id="footer">
      <div class="row">
        <div class="col-lg-12">

          <ul class="list-unstyled">
            <li class="float-lg-right"><a href="#top">Back to top</a></li>
            <li><a href="https://blog.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
            <li><a href="https://blog.bootswatch.com/rss/">RSS</a></li>
            <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
            <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
            <li><a href="../help/#api">API</a></li>
            <li><a href="../help/#donate">Donate</a></li>
          </ul>
          <p>Made by <a href="https://thomaspark.co">Thomas Park</a>.</p>
          <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE">MIT License</a>.</p>
          <p>Based on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>

        </div>
      </div>

    </footer>


    <script src="{% static 'blog/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/js/popper.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
  </body>
</html>
