{% extends "blog/base.html" %}


{% block content %}

  <div class="row">
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="tables">เว็บไซต์รายวิชา</h1>
      </div>

      <div class="bs-component">
        <h1>ข้อมูลทั่วไป</h1>

        <h2>รหัสและชื่อวิชา :</h2>
        <p>1144232 ปฏิบัติการลินุกซ์ (Linux Operating System)</p>

        <h2>จำนวนหน่วยกิต :</h2>
        <p>1 (0-2-1) หน่วยกิต</p>

        <h2>หลักสูตรและประเภทของรายวิชา :</h2>
        <p>เป็นรายวิชาในหมวดวิชาพื้นฐานวิชาชีพ ในหลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาวิทยาการคอมพิวเตอร์</p>

      </div>

      <div class="bs-component">
        <h1>จุดมุ่งหมายของรายวิชา :</h1>

        <p>เมื่อนักศึกษาเรียนรายวิชานี้แล้ว นักศึกษาจะเกิดการเรียนรู้/ความสามารถ/สมรรถนะที่ต้องการในด้านต่าง ๆ ดังนี้</p>

        <ol>
          <li>สามารถใช้คำสั่งพื้นฐานสำหรับการทำงานบนระบบปฏิบัติการ Linux  หรือ Unixได้ </li>
          <li>สามารถติดตั้งระบบปฏิบัติการลินุกซ์ในบทบาทผู้ใช้งานทั่วไปได้</li>
          <li>สามารถใช้ระบบปฏิบัติการลินุกซ์ในบทบาทผู้พัฒนาซอฟต์แวร์ได้</li>
          <li>ผู้เรียนให้มีความรับผิดชอบ มีจรรยาบรรณทางวิชาการและวิชาชีพ มีวินัย ตรงต่อเวลา</li>
          <li>สามารถพัฒนาตนเองและศึกษาหาความรู้ใหม่ๆ ได้ตลอดเวลา</li>
          <li>ตระหนักถึงความสำคัญของการใช้ภาษาอังกฤษในการประกอบอาชีพในอนาคต</li>
        </ol>

      </div>

      <div class="bs-component">
        <h1>คำอธิบายรายวิชา</h1>
        
        <p>ความรู้เบื้องต้นเกี่ยวกับสถาปัตยกรรมของระบบปฏิบัติการลินุกซ์ คำสั่งพื้นฐานของลินุกซ์ที่ใช้จัดการแฟ้มข้อมูล สารบบ และกระบวนการ การเชื่อมต่อและการทำงานบนเครื่องระยะไกล ศึกษาเปลือกระบบและการเขียนคำสั่งเปลือกระบบ กรณีศึกษาการติดตั้งระบบปฏิบัติการ</p>

        <p>Introduction to Linux operating system architecture; basic Linux commands to manage file, directory and process; connecting and working on remote machines; Linux shells and shell scripts; case study on current operating system installation</p>

      </div>
    </div>
  </div>

{% endblock %}
