{% extends 'landmark/base.html' %}


{% block main %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4 card" style="width:400px">
      <img class="card-img-top" src="{{ sam.image }}" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">{{ sam.title }}</h4>
        <p class="card-text">{{ sam.description }}</p>
        <a href="#" class="btn btn-primary">รายละเอียด</a>
      </div>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>

{% endblock main %}

